.profile__avatar-item {
    max-width: 120px;
    max-height: 120px;
    margin-right: 30px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  @media screen and (max-width: 767px) {
    .profile__avatar-item {
      margin-right: 0;
    }
  }
