.profile__info {
    display: grid;
    max-width: 336px;
    margin-left: 30px;
    grid-template-columns: 1fr 24px;
    gap: 6px 18px;
    grid-template-areas:
    "name edit-button"
    "subname subname";
  }
  
  @media screen and (max-width: 767px) {
    .profile__info {
      margin-top: 26px;
      margin-left: 32px;
      gap: 10px 15px;
    }
  }